{% extends "exe.default.j2" %}
{% block variables %}
{{ super() }}

ccflags = $ccflags $
    -DKERNEL_FILENAME=L\"jsix.elf\" $
    -DGNU_EFI_USE_MS_ABI $
    -DHAVE_USE_MS_ABI $
    -DEFI_DEBUG=0 $
    -DEFI_DEBUG_CLEAR_MEMORY=0 $
    -DBOOTLOADER_DEBUG

ldflags = $ldflags $
    -T ${srcroot}/src/arch/x86_64/boot.ld $
    -shared

{% endblock %}

{% block extra %}

build $builddir/boot.efi : makeefi ${builddir}/{{ module.output }}
    name = boot.efi

{% endblock %}

# vim: ft=ninja et ts=4 sts=4 sw=4

