{% extends "module.base.ninja.j2" %}
{% block variables %}
{{ super() }}

libs = $
    -L${builddir} $
    {%- for dep in module.deps %}
    -l{{dep}} $
    {%- endfor %}
    $libs

{% endblock %}
{% block artifact %}${builddir}/{{ module.output }} : exe{% endblock %}
