{% extends "program.default.ninja.j2" %}
{% block variables %}
{{ super() }}

asflags = $asflags -I${srcroot}/src/kernel/
libs = $libs
ldflags = $ldflags -T ${srcroot}/src/arch/x86_64/kernel.ld

{% endblock %}
