{% extends "target.default.j2" %}

{% block binaries %}
{{ super() }}
ld = clang++
{% endblock %}

{% block variables %}

ccflags = $ccflags -g -ggdb

{% endblock %}

# vim: ft=ninja et ts=4 sts=4 sw=4

