{% extends "target.default.j2" %}

{% block binaries %}
ld = ld
cc = clang
cxx = clang++
nasm = nasm
{% endblock %}

{% block variables %}

ccflags = $ccflags $
    -ggdb $
    -nostdlib $
    -ffreestanding $
    -nodefaultlibs $
    -fno-builtin $
    -mno-sse $
    -fno-omit-frame-pointer $
    -mno-red-zone $
    -fshort-wchar

cxxflags = $cxxflags $
    -nostdlibinc $
    -fno-exceptions $
    -fno-rtti

ldflags = $ldflags $
    -g $
    -nostdlib $
    -znocombreloc $
	-Bsymbolic $
    -nostartfiles

{% endblock %}
