{% extends "target.default.j2" %}

{% block binaries %}
cc = clang
cxx = clang++
ld = clang++
ar = ar
nasm = nasm
objcopy = objcopy
{% endblock %}

{% block variables %}

ccflags = $ccflags $
    --target=x86_64-unknown-windows $
	-ffreestanding $
	-mno-red-zone $
	-fshort-wchar $
	-fno-omit-frame-pointer $
	-ggdb

cxxflags = $cxxflags $
    -fno-rtti $
    -fno-exceptions

ldflags = $ldflags $
    --target=x86_64-unknown-windows $
	-nostdlib $
    -Wl,-entry:efi_main $
    -Wl,-subsystem:efi_application $
    -fuse-ld=lld-link $
	-g

{% endblock %}

# vim: ft=ninja et ts=4 sts=4 sw=4

